[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/sasquatch
Name=Qt Media Hub
GenericName=Media Player
X-KDE-StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;AudioVideo
